/* tag selector */
body{
  font-family: "Montserrat", sans-serif;

}


h2{
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}
/* heading */
.big-heading{
  font-size: 3.5rem;
  line-height: 1.5;
}

/* class selector */
.container-fluid{
  padding: 3% 15% 7%;
}


/* id selector */
#title{
  background-color: #ff4c68;
  color: #fff;
}


/* Navigation Bar */
.navbar{
  padding: 0 0 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

/* Title */
.roated-image{

  width: 55%;
  transform: rotate(25deg); /* Equal to rotateZ(45deg) */
  position:absolute;
  right: 30%;
}

@media(max-width: 1028px){

#title{
  text-align: center;

}
  .roated-image{
    position: static;
    transform: rotate(0); /* Equal to rotateZ(0 deg) */
    padding-top: 5%;
  }
}

/* FEATURES */
#features{
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.features-name{
  font-size: 1.5rem;
  font-family: "Montserrat-Bold";
  font-weight: 600;
}
.features-description{
  color: #8f8f8f;
}

.fas{
  color: #ef8172;
  margin-bottom: 20px;
}
.fas:hover{
color: #ff4c68;
}

.features-box
{
    text-align: center;
}


/* Testimonial */

#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: #fff;

}


.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo{
  width:10%;
  margin: 20px 20px 50px;
}

.carousel-item{
  padding: 7% 15%;
}

/* Pricing */

#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-column{
  padding: 3% 2%;
}
/* cta */
#cta{
  padding: 7% 15%;
  background-color: #ff4c68;
  color: #fff;
  text-align: center;

}
.cta-text
{
  margin: 3% 5%;
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
}
.btn{
  margin-right: 20px;
}

/* footer */
#footer{
  text-align: center;
  padding: 7% 15%;
}

.social-icon{
  margin-right: 20px;
}
